<div class="package-info">
	<div class="title">
		{{package.title}} <span class="price">{{package.currency}}{{package.price}}</span>
	</div>
	<p>
		During <strong>{{package.duration}}</strong> you will get <strong>{{package.photoAmount}}</strong> photos ({{package.photoAmount - package.photographerChoicePhotosAmount}} by your choice + {{package.photographerChoicePhotosAmount}} by photographer choice)
	</p>
	<p><strong>Free gifts for you:</strong></p>

	<font *ngFor="let feature of package.features; let isLast=last">
		<div *ngIf="feature.price === 0"><input type="checkbox">{{feature.title}}</div>
	</font>

	<p><strong>Additional features</strong></p>

	<font *ngFor="let feature of package.features">
		<div *ngIf="feature.price"><input type="checkbox">{{feature.title}} {{package.currency}}{{feature.price}}</div>
	</font>
</div>
<a href="javascript:;"><p class="wantItNow">I WANT IT NOW!</p></a>
