p{
	display: block;
	position:absolute;
	bottom:0;
	right:0;
	margin:10px;
	background-color: #3b5998;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #fff;
	font-size:22px;
	font-weight: 900;
	border-radius: 8px;
	opacity:0.9;
	padding:15px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
}