<!--The content below is only a placeholder and can be replaced.-->
<div style="width:100%; height:100vh; display:block;" (mousemove)="onEvent($event)" (click)="onEvent($event)">
	<div style="display:block; width:400px; float:left;">
		<nav class="lang" *ngIf="headVisible || router.url !== '/'" [@fadeInOut]><a href="#" (click)="onLangChange('ru')">RU</a>|<a href="#" (click)="onLangChange('de')">DE</a>|<a href="#" (click)="onLangChange('en')">EN</a></nav>
		<app-head [visible]="headVisible || router.url !== '/'"></app-head><br/><br/>
		<nav>
			<a href="http://vk.com/foto.berlin" class="link" target="_blank"><img src="assets/images/vk_icon.png" *ngIf="headVisible || router.url !== '/'" [@fadeInOut]></a>
			<a href="https://www.facebook.com/profile.php?id=100002674856441" class="link" target="_blank"><img src="assets/images/fb_icon.png" *ngIf="headVisible || router.url !== '/'" [@fadeInOut]></a>
			<a routerLink="/" routerLinkActive="active" class="link" *ngIf="router.url !== '/'"><img src="assets/images/euro_icon.png" *ngIf="headVisible || router.url !== '/'" [@fadeInOut]></a>
			<a routerLink="/products" routerLinkActive="" class="link" *ngIf="router.url === '/'"><img src="assets/images/euro_icon.png" *ngIf="headVisible || router.url !== '/'" [@fadeInOut]></a>
		</nav>
	</div>
	<div style="display:block; float:left;">
		<router-outlet></router-outlet>
	</div>
</div>
