<!--The content below is only a placeholder and can be replaced.-->
<div style="width:100%; height:100vh; display:block;" (mousemove)="mouseMove($event)">
	<div style="display:block; width:400px; float:left;">
		<app-head [visible]="headVisible"></app-head><br/><br/>
		<a href="javascript:;" class="link" (click)="toggleProducts()"><img src="assets/images/euro_icon.png" *ngIf="headVisible" [@fadeInOut]></a><br/><br/>
		<a href="http://vk.com/foto.berlin" class="link" target="_blank"><img src="assets/images/vk_icon.png" *ngIf="headVisible" [@fadeInOut]></a><br/><br/>
		<a href="https://www.facebook.com/profile.php?id=100002674856441" class="link" target="_blank"><img src="assets/images/fb_icon.png" *ngIf="headVisible" [@fadeInOut]></a>
	</div>
	<div style="display:block; width:400px; float:right;">
		<app-products  *ngIf="headVisible" [@fadeInOut]></app-products>
	</div>
</div>
