<form [formGroup]="orderFormGroup" (ngSubmit)="onSubmit()" novalidate>
	<div class="order-form-body">
		<p>{{ 'ORDER_FORM.TITLE' | translate }}</p>
		<p>
			<span >{{ 'ORDER_FORM.EMAIL' | translate }}</span>
			<span *ngIf="orderFormGroup.controls.email.errors && orderFormGroup.controls.email.touched" class="error" >{{ 'ORDER_FORM.EMAIL_ERROR' | translate }}</span>
		</p>
		<p>
			<input #email class="form" type="email" formControlName="email">
		</p>
		<p>
			<span>{{ 'ORDER_FORM.PHONE_NUMBER' | translate }}</span>
			<span *ngIf="orderFormGroup.controls.phone.errors && orderFormGroup.controls.phone.touched" class="error">{{ 'ORDER_FORM.PHONE_NUMBER_ERROR' | translate }}</span></p>
		<p>
			<input #phone class="form" type="phone" formControlName="phone">
		</p>
		
		<p>{{ 'ORDER_FORM.COMMENTS' | translate }}</p>
		<p>
			<textarea formControlName="comments" ></textarea>
		</p>
	</div>
	<input type="submit" class="place-order" value="{{ 'ORDER_FORM.PLACE_ORDER' | translate }}" (click)="onSubmit()"/>
</form>
