.place-order{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #fff;
	font-size:22px;
	font-weight: 900;
	padding: 12px;
	margin: 25px 0 15px 0;
	background-color: #3b5998;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	text-align: center;
	border: 0;
	cursor: pointer;
}

.place-order:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}

.order-form-body{
	height:357px;
}

input.form{
	width: calc(100% - 10px);
	font-size: 20px;
	padding: 3px 5px 3px 5px;
	/*border: #000000 solid 1px;*/
	border-radius: 6px;
}

textarea{
	font-size: 20px;
	width: calc(100% - 10px);
	height:115px;
	/*border: #000000 solid 1px;*/
	border-radius: 8px;
	padding: 3px 5px 3px 5px;
}

.ng-invalid{
	border-color: #ff0000;
}

.ng-valid{
	border-color: green;
}

span.error{
	float:right;
	font-weight: 600;
	color:red;
}