div.intro{
	margin: 25px 10px 10px 10px;
	padding: 15px;
	background-color:#fff;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	opacity: 0.9;
	min-width: 270px;
}

.packages{
	margin: 25px 0px 10px 10px;
	padding: 0;
	text-align: center;
}

.packages li
{
	display:inline-flex;
	padding: 15px;
	border-radius: 8px;
	list-style-type: none;
	width:270px;
	height:444px;
	background-color:#fff;
	margin:0 10px 10px 0;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	opacity: 0.9;
	text-align: left;
}

.packages li:hover{
	opacity:1;
}

@media screen and (max-width:1023px) { 
	.packages li.order-form{
		width: calc(100vw - 50px);
		height:475px;
	}
}
@media screen and (min-width:1024px) { 
	.packages li.order-form{
		width: 660px;
	    height: 449px;
	}
}

.packages li.order-form{
	padding: 10px 15px 15px 15px;
}

.order-form-body{
	height:392px;
}

.place-order{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #fff;
	font-size:22px;
	font-weight: 900;
	padding: 12px;
	margin: 25px 0 15px 0;
	background-color: #3b5998;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	text-align: center;
	border: 0;
	cursor: pointer;
	height:50px;
	text-decoration: none;
}

.place-order:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}