<ul class="packages" [@fadeInOut]>
	<ng-container *ngFor="let package of packages">
	  <li *ngIf="package.visible !== false" [@fadeInOut2]>
		<app-product [package]="package" (emitter)="onEvent($event)"></app-product>
	  </li>
	</ng-container>
	<li *ngIf="formVisible !== false" class="order-form" [@fadeInOut2]>
		<app-order-form style="width:100%;" (emitter)="onEvent($event)"></app-order-form>
	</li>
	<li *ngIf="orderSentVisible" class="order-form" [@fadeInOut2]>
		<div>
			<div class="order-form-body">
				<p>{{placeOrderStatus}}</p>
			</div>
			<a routerLink="/" class="place-order">{{ 'PRODUCTS.CLOSE' | translate }}</a>
		</div>
	</li>
</ul>
<div [@fadeInOut] class="intro">
	<p>{{ 'PRODUCTS.INTRO' | translate }}</p>
</div>
<div [@fadeInOut] class="intro"><ul [innerHTML]="'PRODUCTS.NOTES' | translate"></ul></div>
