<div class="thumbnail" *ngIf="album && visible" [ngStyle]="{'background': 'url(' + album.properties.thumbnail + ') center'}" [@fadeInOut]>
	<a class="link" (click)="goBack()" href="javascript:;"><div>&#8682;</div></a>
</div>
<span *ngIf="visible">
	<a href="javascript:;">I WANT SIMILAR!</a>
	<a href="javascript:;">SHARE</a>
	<a href="javascript:;">LIKE</a>
	<a href="javascript:;">SOMETHING ELSE</a>
	
</span>
<span *ngIf="visible" class="navigation">
	<a class="link" (click)="prev()" href="javascript:;"><div> &#8678;</div></a>
	<a class="link" (click)="next()" href="javascript:;"><div> &#8680;</div></a>
</span>
