@media screen and (max-width:767px) { 
	div.thumbnail{
		margin: 25px auto;
	}
	.navigation{
		margin: 10px;
		width: 310px;
	}
	button{
		margin: 10px 0 0 0;
		display: none;
	}
}
@media screen and (min-width:768px) { 
	div.thumbnail{
		margin: 25px 0 0 25px;
		position:absolute;
		top:0px;
		left:0px;
	}
	.navigation{
		margin: 25px;
	}
	button{
		margin: 6px 0 15px 0;
	}
}
div.thumbnail{
	border-radius: 150px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	display: block;
	width: 300px;
	height:300px;
}

div.thumbnail:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}

.link{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 40px;
	font-weight: 900;
	color: #fff;
	background-color: #3b5998;
	height: 64px;
	width: 64px;
	display: flex;
	float:left;
	margin: 0 24px 0 0;
	border-radius: 32px;
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
}

.link div{
	margin: 3px 0 0 10px;
}

.link:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}

.navigation{
	position:absolute;
	bottom: 0;
	left: 0;
}

button{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #fff;
	font-size:22px;
	font-weight: 900;
	padding: 12px;
	background-color: #3b5998;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	text-align: center;
	border: 0;
	cursor: pointer;
}

button:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}

.order-form
{
	display:inline-flex;
	padding: 15px;
	border-radius: 8px;
	list-style-type: none;
	width:545px;
	height:449px;
	background-color:#fff;
	margin: 10px 10px 10px 130px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	opacity: 0.9;
}

.order-form:hover{
	opacity:1;
}

.place-order{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #fff;
	font-size:22px;
	font-weight: 900;
	padding: 12px;
	margin: 25px 0 15px 0;
	background-color: #3b5998;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	text-align: center;
	border: 0;
	cursor: pointer;
	height:50px;
	text-decoration: none;
}

.place-order:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}

.order-form-body{
	height:392px;
}