.intro{
	margin: 25px 0px 0 0;
	padding: 15px;
	background-color:#fff;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	opacity: 0.9;
	max-width: 962px;
}