li{
	display:inline-flex;
	padding: 15px;
	list-style-type: none;
}

ul{
	max-width: 962px;
}

a{
	margin: 25px 0px 0 0;
	border-radius: 150px;
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	display: block;
	width: 300px;
	height:300px;
}

a:hover{
	-webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 18px rgba(0,0,0,0.75);
}